{% extends 'blog/base_blog.html' %}


{% block navigation %}

    <li class="nav-item">
      <a class="nav-link" href="{{ post.get_update_url }}">Редактировать</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ post.get_delete_url }}">Удалить</a>
    </li>


{% endblock %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/static/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ post.title }}</h1>
            <span class="meta">
              {{ post.date_pub }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ post.text|linebreaks }}

        </div>
      </div>
    </div>
  </article>

{% endblock %}