{% extends 'blog/base_blog.html' %}

{% block title %}
  <title>{{ title }}</title>
{% endblock %}

{% block content %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Записки склерозника</h1>
              <span class="subheading">Цикл мыслей как не сойти с ума</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="post.html">
              {% for post in posts %}
                <h2 class="post-title">
                  <a href="{{ post.get_absolute_url }}"> {{ post.title }} </a>
                </h2>
                <p class="post-meta">Опубликовано
                  {{ post.date_pub }}
                </p>
                <hr>
              {% endfor %}
          </div>
          <hr>
        </div>
      </div>
    </div>
{% endblock %}

