{% include 'blog/includes/header_template.html' %}

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

        <h3>Редактировать пост</h3><br>

        <form class="" action="{{ post.get_update_url }}" method="post">

        {% include 'blog/includes/post_form_template.html' %}

        {% block button %}
        <button type="submit" name="button">
        Изменить пост
        </button>
        {% endblock %}
        <br><br>
        <h3><a class="btn btn-outline-secondary" href="{{ post.get_absolute_url }}">
            Назад</a></h3>
        </form>

    </div>
  </div>
</div>