{% include 'blog/includes/header_template.html' %}


<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
          <h2>Регистрация</h2>
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
              <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                  <small style="color: grey"><br>{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
            <button type="submit" class="btn btn-outline-success">Зарегистрировать</button><br>
          </form>
            <br>
            <h3><a class="btn btn-outline-success" href="{% url 'post_list_url' %}">
            Обратно на главную страницу</a></h3><br>
    </div>
  </div>
</div>